<div [@routerTransition]>
    <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>

    <div class="row" *ngIf="serviceUltima && serviceUltima.data">

        <div class="col-xl-3 col-lg-3">
            <app-stat [bgClass]="ObtenirCouleur()" [icon]="'fa-tasks'" [count]="serviceUltima.data.length" [label]="'Ultima'"></app-stat>
        </div>

        <div class="col-xl-3 col-lg-3">
            <app-stat [bgClass]="ObtenirCouleur()" [icon]="'fa-tasks'" [count]="serviceUltima.data.length" [label]="'Ultima'"></app-stat>
        </div>

        <div class="col-xl-3 col-lg-3">
            <app-stat [bgClass]="ObtenirCouleur()" [icon]="'fa-tasks'" [count]="serviceUltima.data.length" [label]="'Ultima'"></app-stat>
        </div>

        <div class="col-xl-3 col-lg-3">
            <app-stat [bgClass]="ObtenirCouleur()" [icon]="'fa-tasks'" [count]="serviceUltima.data.length" [label]="'Ultima'"></app-stat>
        </div>

    </div>
    <hr />
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>

</div>